 .container {
     display: flex;
 }
 
 .item {
     margin: 2px;
     width: 100%;
 }
 
 .data {
     text-align: center;
     background: #16AFD5;
     color: white;
     font-weight: bold;
     font-size: 1.5em;
     font-family: 'Lato', sans-serif;
     margin-top: 0%;
 }
 
 .degree {
     text-align: center;
     font-size: 2em;
     font-family: 'Lato', sans-serif;
     margin-top: auto;
 }
 
 .picture {
     display: block;
     margin-left: auto;
     margin-right: auto;
 }
 
 .item:hover {
     box-shadow: 0 0 8px black;
 }