.fire {
    margin-left: 150px;
    margin-top: 50px;
    width: 150px;
    height: 150px;
    transform: rotate(45deg);
    border-radius: 0px 100% 100% 100%;
    background: linear-gradient(140deg, red, #FFAE00);
    box-shadow: 0 0 20px grey;
}

.top {
    margin-top: -45px;
    margin-left: 205px;
    width: 40px;
    height: 50px;
    border-radius: 90%;
    background: #502901;
    position: relative;
    box-shadow: 0px 10px 20px 10px white;
    transform: rotate(180deg);
}

.top::before {
    content: " ";
    display: inline-block;
    width: 40px;
    height: 50px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 10%, rgba(255, 245, 215, 0) 70%);
    margin-top: 1px;
    margin-left: -px;
    border-radius: 50%;
    transform: rotate(180deg);
}

.stick {
    margin-left: 214px;
    margin-top: -10px;
    width: 20px;
    height: 250px;
    border: 1px solid brown;
    background: linear-gradient(to right, #945517, #C2874C);
}